
input[type="text"]{
   width:100px;
   background-color: rgb(233, 255, 255);
   color: blue;
}
input[type="number"]{
   width:100px;
   background-color: rgb(233, 255, 255);
   color: blue;
}
input[type="email"]{
   width:100px;
   background-color: rgb(233, 255, 255);
   color: blue;
}
fieldset{
   width: 300px;
background-color: rgb(220, 220, 220);
border: 5px solid darkslategray;
}
